# Created by https://www.toptal.com/developers/gitignore/api/uploads
# Edit at https://www.toptal.com/developers/gitignore?templates=uploads

#!! ERROR: uploads is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/uploads
uploads/
